$h1_size:   2rem; // 30px;
$h2_size:   1.4rem;    // 21px;
$h3_size:   1.26rem; // 19px;
$h4_size:   1.13rem; // 17px
$font_size: 13px;
$font_family: Tahoma, sans-serif, Arial, Helvetica;
$small_size: 0.866rem;